@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111;
  --foreground: #ffffff;
  --card: #1e1e2a;
  --input: #2b3342;
  --primary: #45acab;
  --secondary: #131923;
  --accent: #3c12d4;
  --textPrimary: #d1d1d1;
  --textSecondary: #b3b3b3;
  --btnPrimary: #0f1928;
  --highlight: #6366f1;
  --hover: #358e8e;
  --borderPrimary: RGB(69, 172, 171);
  /*------------------------------ Gradients ------------------------------*/
  --gradient-color-from: #45acab;
  --gradient-color-to: #4788ac;
  --gradient-color-from-2: #2167e8;
  --gradient-color-to-2: #12b883;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/*button*/
.btn {
  @apply text-foreground w-full py-3 px-6 rounded-2xl font-medium transition-colors duration-300;
}

.btn-primary {
  @apply bg-teal-500 border border-primary hover:bg-teal-600;
}

.btn-secondary {
  @apply flex justify-center items-center gap-2 px-4 py-2 bg-teal-500 text-white rounded-lg hover:bg-teal-600 transition-colors duration-150 ease-in-out;
}

.thirdweb-connect-button {
  @apply btn btn-primary !important;
}
